<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pusher Lesson</title>
</head>
<body>
	
	<div id="app">
		<h1>{{ message }}</h1>
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>

		new Vue({
			el: '#app',
			data: {
				message: 'Pusher'
			},
			mounted() {

			    // Enable pusher logging - don't include this in production
			    Pusher.logToConsole = true;		
			    
			    var pusher = new Pusher('a8faecaf72f6b7261ed9', {
			      cluster: 'ap2',
			      encrypted: true
			    });

				var channel = pusher.subscribe('demoChannel');

				channel.bind('userLikedPost', function (data) {
					alert('a user liked this post');
				});

			}
		})
	</script>
</body>
</html>